@import 'styles/colors.scss';

:host {
    width: 100%;
    height: 40px;
    background-color: $background-gray;
    border-bottom: 1px solid $main-border;

    .right-content {
        float: right;
        vertical-align: middle;

        .user-name {
            margin-right: 20px;
        }

        .avatar {
            width: 30px;
            margin: 5px 10px;
        }
    }
}